 
#header{
    color: azure;
    background-color:rgb(209, 111, 111);
    text-align: center;
    margin:20px 50px 100px;
    font-size: 30px;
    font-family:cursive;
    border-radius: 30px;
    border: 0.5px solid gray;
    box-shadow: 20px 50px 5px gray;
}
#loginbox{
    background-color:cornsilk ;
     text-align: center;
    margin:0px 300px 0px;
    font-size: 20px;
    font-family:cursive;
    border-radius: 30px;
    border-right: 0.5px solid black;
    border-bottom: 0.5px solid black;
    box-shadow: 20px 40px 15px gray;
}
#heading{
    text-align: center; 
    background-color:bisque;
    margin: 20px 200px 20px;
    border: 0.2px solid black;
    border-radius: 30px;
}