 
#header{
    color: azure;
    background-color:rgb(209, 111, 111);
    text-align: center;
    margin:20px 50px 100px;
    font-size: 30px;
    font-family:cursive;
    border-radius: 30px;
    border: 0.5px solid gray;
    box-shadow: 20px 50px 20px gray;
}
#loginbox{
    background-color:cornsilk ;
     text-align: center;
    margin:0px 350px 0px;
    padding: 20px 10px 20px;
    font-size: 20px;
    font-family:cursive;
    border-radius: 30px;
    border-right: 0.5px solid black;
    border-bottom: 0.5px solid black;
    box-shadow: 20px 40px 15px gray;
}
#heading{
    text-align: center; 
    font-size: 40px;
    background-color:bisque;
    margin:0px 100px 20px;
    border: 0.2px solid black;
    border-radius: 50px;
    box-shadow: 10px 10px 10px gray;
}
#login{ 
    margin:0px 200px 0px;

}
.username{
    background-color:  green;
    font-size: 20px;
    font-family:cursive;
    border-radius: 30px;
    border: 5px solid greenyellow;
    margin: 0px 0px 10px;
     box-shadow: 20px 10px 10px gray;
}
.email{
    background-color:green;
    font-size: 20px;
    font-family:cursive;
    border-radius: 30px;
    border: 5px solid greenyellow;
    margin: 0px 0px 10px;
     box-shadow: 20px 10px 10px gray;
}
.password{
    background-color: green;
     font-size: 20px;
    font-family:cursive;
    border-radius: 30px;
    border: 5px solid greenyellow;
    margin: 0px 0px 10px;
     box-shadow: 20px 10px 10px gray;
}